@font-face {
  font-family: "Rubik";
  src: url("../fonts/RubikMoonrocks-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Zain";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Zain-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Zain";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Zain-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Zain-Bold";
  font-style: normal;
  src: url("../fonts/Zain-Black.ttf") format("truetype");
}
