/* Desktops */
@media (max-width: 1280px) {
  .tasks__slide--btn {
    display: block;
  }

  .tasks__slide--btn svg {
    position: absolute;
    top: 50%;
    background: var(--primary);
  }

  .tasks__slide--btn svg::before {
    content: "";
    position: absolute;
    inset: -10px; /* expands clickable area */
  }

  .tasks__slide--btn .btn__left {
    left: 0;
    transform: translate(-50%, -50%);
  }

  .btn__right {
    right: 0;
    transform: translate(50%, -50%);
  }

  .app__wrapper {
    position: relative;
  }

  .app {
    position: relative;
  }

  .todo {
    position: absolute;
    width: 45%;
  }
}

/* Small laptops */
@media (max-width: 1024px) {
}

/* Tablets */
@media (max-width: 768px) {
  .app {
    gap: 0;
  }

  .todo {
    width: 100%;
  }
}

/* Phones */
@media (max-width: 480px) {
  .logo {
    font-size: 24px;
  }

  .date {
    font-size: 14px;
  }
}

/* Small phones */
@media (max-width: 320px) {
}
