* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  gap: 24px;
  grid-template-rows: 1fr 10fr 1fr;
  margin: 0 auto;
  padding: 24px 0;
  width: 80vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.header {
  align-self: flex-start;
}

.logo,
.todo__title {
  cursor: default;
}

.app {
  justify-content: space-between;
  width: 100%;
}

.todo {
  border: 1px solid red;
  border-radius: 10px;

  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  width: 32.5%;
  height: 100%;
  padding: 16px 32px;
}

.todo input[type="text"] {
  width: 100%;
}

.todo__inbox {
}

.todo__routines {
}

.todo__goals {
}

.nav {
  border: 1px solid red;
  width: max-content;
  margin: 0 auto;
  padding: 0 32px;

  border-radius: 50px;
}

.nav ul {
  gap: 12px;
}

.nav ul a {
  text-decoration: none;
  color: inherit;
}
